body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.converter {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
}

select, input[type="number"] {
  width: calc(100% - 20px); /* Adjusting width to accommodate padding */
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: calc(100% - 20px); /* Adjusting width to accommodate padding */
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adding transition effect */
}

button:hover {
  background-color: #0056b3; /* Changing color on hover */
}

#result {
  margin-top: 15px;
  font-weight: bold;
}
